<!DOCTYPE html>
<html lang="en">

<%- include( '../../layout/head')%>

    <body>

        <header>
            <%- include('../../layout/header') %>
        </header>

        <main>
            <% oneBook.forEach(book => {%>

                <section>
                    <img src="<%= book.image_url %>" />
                    <h2>
                        <%= book.title %>
                    </h2>
                    <h3>
                        <%= book.author %>
                    </h3>
                    <p>
                        <%= book.description1 %>
                    </p>
                    <p>
                        <%= book.isbn %>
                    </p>
                </section>
                <button id='update_details_button'>
            Update details
        </button>

                <form action="/books/<%= book.id %>?_method=delete" method="post">
                    <input type="submit" value="delete book">
                    </input>
                </form>

                <%- include('edit')%>

                    <% }) %>



                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

                        <script>
                            $('#update_details_button').on('click', function(event) {
                                $('#formUpdate').css('display', 'block');
                            });
                        </script>



        </main>


    </body>

</html>

</html>