<!DOCTYPE html>
<html lang="en">

<%- include( '../../layout/head')%>

    <body>
        <header>

            <h1>Best Books!</h1>
            <h2>Search by title or author !</h2>
            <%- include('../../layout/header') %>
        </header>


        <main>


            <% UserBooks.forEach(book=> {%>


                <div>

                    <img src="<%= book.image_url %>" />


                    <h2>
                        <%= book.title %>
                    </h2>

                    <h3>
                        <%= book.author %>
                    </h3>

                    <p>
                        <%= book.description1 %>
                    </p>

                    <p>
                        <%= book.isbn %>
                    </p>


                </div>

                <form id="saveBookForm" action="/books" method="POST">

                    <input type="hidden" name="image_url" value="<%= book.image_url %>"></input>

                    <input type="hidden" name="title" value=" <%= book.title %>"></input>

                    <input type="hidden" name="author" value=" <%= book.author %>"></input>

                    <input type="hidden" name="description" value="<%= book.description1 %>"></input>

                    <input type="hidden" name="isbn" value="<%= book.isbn %>"></input>

                    <input id="saveBook" type="submit" value="Save book"></input>
                </form>

                <% }) %>



        </main>


        <footer id="showFooter">

        </footer>

    </body>

</html>