<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK APP</title>
    <!-- <link rel="stylesheet" href="/public/styles/reset.css"> -->
    <link rel="stylesheet" href="app.css" type="text/css">
</head>

<body>
    <header>
        <nav>
            <li>
                <a href="#">HOME</a>
            </li>
            <li>
                <a href="/searches/new">Search</a>
            </li>
        </nav>
        <h2> BOOK APP </h2>


    </header>

    <main>

        <% SeedData.forEach(book => {%>

            <div>
                <img src="<%= book.image_url %>" />

                <h2>
                    <%= book.title %>
                </h2>

                <h3>
                    <%= book.authors %>
                </h3>

                <p>
                    <%= book.description1 %>
                </p>

                <a href="/books/<%= book.id %>"> View Details </a>
            </div>

            <% }) %>


    </main>

    <footer>

    </footer>

</body>

</html>